{% extends "base.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load static %}

 {% block Title|title %}
	Propietario Veterican
  {% endblock %}

			
{% block content %}

		<div class="divfuera" align="center">

			<div class="divdentro">
 			
 			<div class="thumbnail" style="width:50%; position: relative; top: 10px;" align="left">
	  		
			{% url 'cliente:PropietarioNuevo' as N %}

			{% if  request.get_full_path == N %}
	
	  		<h3> Registrar Cliente </h3>
			
			<p><v  style="color:red;">Registra un Clientes:</v></p>
			<br>
			
			{% else %}

	
	  		<h3> Actulizar Cliente </h3>
			
			<p><v  style="color:red;">Actuliza su información:</v></p>

			<br>

			{% endif %}


			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{form|crispy}}
             	<div align="right">
             		<p><button type="submit" class="btn btn-default" >ACETAR</button></p>

             	</div>
			</form>
			<div align="right">
			<form action="{% url "cliente:listado" %}">
             	<p><button type="submit" class="btn btn-default" >LISTADO</button></p>
			</form>
			</div>

			</div>	
								
		</div>
			   

{% endblock content %}