{% extends "base.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load static %}

 {% block Title|title %}
	Boleta Veterican
  {% endblock %}

			
{% block content %}
<div class="divfuera" align="center">

	<div class="divdentro">

 		<div class="thumbnail" style="width:50%; position: relative; top: 10px;" align="left">

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
		
				{{form.empleado|as_crispy_field}}

				{{form.tipoBoleta|as_crispy_field}}
		


				<p><button type="submit" class="btn btn-default" >ACETAR</button></p>
			</form>
			
		</div>

	</div>	
								
</div>
{% endblock content %}